body 
{
  background: #333;
  background-image: url("images/background.jpg");
  margin:0;
  padding:0;
  height:100%;
}



#gameName 
{
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 24px;
  position:absolute;
  left: 350px;

}

#map
{
  display: block;
  background: #fff;
  

}

#player
{
  display: block;

  
}

#footer {
  
  
  height:100px;
  position:absolute;
  bottom:0;
  left:50%;
  margin-right: -50%;

}